#include "sofle.dtsi"

&default_transform {
    col-offset = <5>;
};

&kscan0 {
    col-gpios
        = <&pro_micro 8 GPIO_ACTIVE_HIGH>
        , <&pro_micro 7 GPIO_ACTIVE_HIGH>
        , <&pro_micro 6 GPIO_ACTIVE_HIGH>
        , <&pro_micro 5 GPIO_ACTIVE_HIGH>
        , <&pro_micro 4 GPIO_ACTIVE_HIGH>
        ;
};

/ {
    chosen {
      zmk,battery = &vbatt;
    };

    vbatt: vbatt {
        compatible = "zmk,battery-nrf-vddh";
    };
};

&adc {
    status = "okay";
};

/ {
    joystick_right: joystick_right {
        compatible = "zmk,input-analog-selector";
        sampling-hz = <100>;
        x_axis { io-channels = <&adc 5>; }; 
        y_axis { io-channels = <&adc 7>; };
    };

    right_listener {
        compatible = "zmk,input-listener";
        device = <&joystick_right>;
        input-processors = <&zip_xy_to_scroll_mapper>;
    };
};
